#body{
    background-image: url(img/dbk7ro6-e704fd42-1159-4a30-9231-324475986be8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h3 {
    color: white;
}

p{
    color: white;
}


